body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 100;
    line-height: 2rem;
    color: #333;
    font-size: 16px;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    color: #8cc84b;
}

h3 {
    font-size: 1.2rem;
}

em {
    font-weight: bold;
}

img {
    max-width: 100%;
}

.logo {
    max-width: 80px;
    float: left;
    margin: 20px;
}

.row-aligner {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.column-aligner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.column-aligner-item {
    max-width: 90%;
}

@media screen and (min-width : 1100px) {
    .column-aligner-item {
        max-width: 60%;
    }
}

.contact {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

.contact-link {
    max-width: 30%;
    display: inline-block;
    border: 2px solid black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 10px;
}

.contact-link:hover {
    background-color: black;
    color: white;
}

.copyright {
    float: right;;
    font-size: 0.8rem;
}

.inline-block {
    display: inline-block;
    padding: 5px;
}

.separated {
    border-left: 2px solid #8cc84b;
    border-right: 2px solid #8cc84b;
}

.demo {
    border: 1px solid black;
    display: inline-block;
    margin: 20px;
    box-shadow: 0 8px 6px -6px black;
}

.hidden .demo{
    display: none;
}

.learning-outcomes {
    list-style: none;
    padding-left: 0;
}

.learning-outcomes li:nth-child(odd) {
    background-color: #eee;
}

.learning-outcomes li {
    padding: 20px;
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}

.learning-outcomes li:before {
    content: '\25BC';
    color: #8cc84b;
    margin-right: 10px;
    position: absolute;
    left: 10px;
}

.learning-outcomes li.hidden:before {
    content: '\25BA';
}